@import 'normalize.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --scrollbar-body-light: #fafad2;
  --scrollbar-thumb-light: rgb(215, 159, 63);
  --scrollbar-track-light: rgba(250, 250, 210, 0.5);
  --scrollbar-body-dark: rgb(31, 38, 75);
  --scrollbar-thumb-dark: rgb(26, 29, 39);
  --scrollbar-track-dark: rgba(64, 81, 127, 0.5);
}

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgoldenrodyellow;
  transition: all 300ms ease-in-out;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button:disabled {
  opacity: 0.5;
}
.skrB::-webkit-scrollbar {
  width: 8px;
}

.skrB::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--scrollbar-thumb-light, rgb(215, 159, 63));
  transition: all 300ms ease-in-out;
}

.skrB::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: var(--scrollbar-track-light, rgba(250, 250, 210, 0.5));
  transition: all 300ms ease-in-out;
  color: rgb(3, 3, 4);
  color: rgb(22, 26, 56);
  color: rgb(9, 11, 17);
  color: rgb(0, 3, 17);
}

@layer utilities {
  .animate-shine {
    animation: shine 10s linear infinite;
  }
}

@keyframes shine {
  0% {
    transform: scale(0.5) rotate(0deg);
    opacity: 0.3;
  }
  50% {
    transform: scale(2) rotate(360deg);
    opacity: 1;
  }
  100% {
    transform: scale(0.2) rotate(360deg);
    opacity: 0.3;
  }
}

.active {
  opacity: 1;
}

.user-selectable {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
